html,
body {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000000;
}

.title {
  width: 100px;
  color: white;
  font-size: 26px;
  margin-bottom: 6px;
}

.preset-select {
  background-color: #8a8a8a;
  color: white;
  font-size: 1em;
  padding: 0 10px;
  top: 0;
  left: 0;
  z-index: 100;
  margin-bottom: 6px;
  height: 40px;
  outline: none;
  border: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #0066CC;
  padding: 10px 20px;
  border: 2px solid #0066CC;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 0px 0px 0 12px;
  transition : 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6px;
  outline: none;
}

button:hover {
  transition : 1000ms;
  padding: 10px 20px;
  transform : translateY(-0px);
  border: solid 2px #0066cc;
}

#result-modal {
  display: none;
  color: #FFFFFF;
  padding: 6px;
  position: absolute;
  width: 280px;
  top: 100px;
  left: calc(50% - 140px);
  background: #000000;
  border: solid #A9C0E1 1px;
  z-index: 9999;
  border-radius: 6px;
}

#result-modal h3 {
  text-align: center;
}

#result-modal p {
  text-align: center;
  word-break: break-all;
}

.multi-barcode-container {
  position: absolute;
  width: 400px;
  bottom: 0;
  left: calc(50% - 200px);
  color: white;
}
.multi-barcode-container p {
  text-align: center;
}

#multi-barcode-results {
  color: white;
}